<html>
<head>
	<title>上传多个文件</title>
</head>
<body>
<form enctype="multipart/form-data" action="/file/upload/multiple" method="post">
  <input type="file" name="uploadfile" /><br>
  <input type="file" name="uploadfile2" />
  <input type="hidden" name="token" value="{{.}}"/>
  <input type="submit" value="upload" />
</form>
</body>